IO_LOC "O_tmds_clk_p" G16,H15;
IO_PORT "O_tmds_clk_p" IO_TYPE=LVDS25 PULL_MODE=NONE DRIVE=3.5 BANK_VCCIO=2.5;
IO_LOC "O_tmds_data_p[0]" H14,H16;
IO_PORT "O_tmds_data_p[0]" IO_TYPE=LVDS25 PULL_MODE=NONE DRIVE=3.5 BANK_VCCIO=2.5;
IO_LOC "O_tmds_data_p[1]" J15,K16;
IO_PORT "O_tmds_data_p[1]" IO_TYPE=LVDS25 PULL_MODE=NONE DRIVE=3.5 BANK_VCCIO=2.5;
IO_LOC "O_tmds_data_p[2]" K14,K15;
IO_PORT "O_tmds_data_p[2]" IO_TYPE=LVDS25 PULL_MODE=NONE DRIVE=3.5 BANK_VCCIO=2.5;

IO_LOC "rst_n" T10;
IO_PORT "rst_n" IO_TYPE=LVCMOS33 PULL_MODE=UP;
IO_LOC "clk_i" H11;
IO_PORT "clk_i" IO_TYPE=LVCMOS33 PULL_MODE=UP;